<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.nickwynja.darksky</string>
	<key>connections</key>
	<dict>
		<key>296C4E72-2072-4699-B7ED-717506769A75</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Nick Wynja</string>
	<key>description</key>
	<string>Check the weather using the Dark Sky API</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dark Sky</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>darksky</string>
				<key>runningsubtext</key>
				<string>Checking the weather based on your location...</string>
				<key>script</key>
				<string>php -f darksky.php</string>
				<key>subtext</key>
				<string>Check the weather right now, the next hour, and the next 24 hours</string>
				<key>title</key>
				<string>Dark Sky</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>296C4E72-2072-4699-B7ED-717506769A75</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Error checking thanks the @stouty on the Alfred forums.</string>
	<key>uidata</key>
	<dict>
		<key>296C4E72-2072-4699-B7ED-717506769A75</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>nickwynja.com/projects</string>
</dict>
</plist>
