<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>creator</key>
	<string>Nick Wynja</string>
	<key>website</key>
	<string>http://hackmake.org/2012/11/07/dark-sky-alfred-extension</string>
</dict>
</plist>
